<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Encontrá lo que buscás</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
            <section class="cabecera-principal">
                    <figure class="logo">
                        <img src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre">
                    </figure>
                    <form class="busqueda">
                        <input type="text" placeholder="Bucar productos, marcas"> <!-- type="search" acá entiendo que corresponde que vaya un tipo search, pero lo dejé en text para que complique menos la etapa de desarrollo-->
                        <i class="fas fa-search"></i>
                    </form>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </section>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <figure>
                <img src="/images/img-home-banner.jpg" alt="banner publicitario">
            </figure>
    </header>
    <main class="container">
        <h3>Basado en tu última visita</h3>
        <section>
            <article>
                <figure>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" style="width: 100%">
                </figure>
                <div class="tarjeta-atributos">
                    <i class="fas fa-truck"></i>
                    <div class="inline">
                        <p class="precio">$6.670</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <figure>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro" style="width: 100%">
                </figure>
                <div class="tarjeta-atributos">
                    <i class="fas fa-truck"></i>
                    <div class="inline">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung galaxy s10" style="width: 100%">
                </figure>
                <div class="tarjeta-atributos">
                    <i class="fas fa-truck"></i>
                    <div class="inline">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <figure>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43 pulgadas" style="width: 100%">
                </figure>
                <div class="tarjeta-atributos">
                    <i class="fas fa-truck"></i>
                    <div class="inline">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section>
            <article>
                <figure>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" style="width: 100%">
                </figure>
                <div class="tarjeta-atributos">
                    <i class="fas fa-truck"></i>
                    <div class="inline">
                        <p class="precio">$6.670</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <figure>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook pro" style="width: 100%">
                </figure>
                <div class="tarjeta-atributos">
                    <i class="fas fa-truck"></i>
                    <div class="inline">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <figure>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung galaxy s10" style="width: 100%">
                </figure>
                <div class="tarjeta-atributos">
                    <i class="fas fa-truck"></i>
                    <div class="inline">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <figure>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43 pulgadas" style="width: 100%">
                </figure>
                <div class="tarjeta-atributos">
                    <i class="fas fa-truck"></i>
                    <div class="inline">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="contenido-footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="contenido-footer">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="contenido-footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>